.hide {
  display: none;
}
.panel {
  &-todo {
    position: relative;
    width: 80%;
    border-radius: 4px;
    margin: 10px auto;
    border: 4px solid #CCC;
    padding: 10px;
    font-family: sans-serif;
    cursor: pointer;
  }

  .cross {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(199, 33, 102);
    border-radius: 100%;
    color: #FFF;
    padding: 5px 10px;
  }
}


.badge {
  &-lowest {
    background-color: rgb(152, 253, 253);
  }

  &-low {
    background-color: rgb(122, 247, 143);
  }

  &-medium {
    background-color: rgb(248, 175, 66);
  }

  &-high {
    color: #EEE;
    background-color: rgb(247, 79, 49);
  }
}
